---
import { Image } from "astro:assets";
import type { Sponsor } from "../sponsors";
import Dialog from "./Dialog.astro";

interface Props {
  sponsorType: "gold" | "silver" | "bronze" | "drink/lunch" | "tool";
  sponsors: Sponsor[];
  dialogSectionTitle?: string;
}

const { sponsorType, sponsors, dialogSectionTitle } = Astro.props;

const imageSizeMap = {
  gold: "large",
  silver: "medium",
  bronze: "small",
  "drink/lunch": "medium",
  tool: "large",
};

const imageSize = imageSizeMap[sponsorType];

const sizeMap: Record<string, { width: number; height: number }> = {
  large: { width: 532, height: 280 },
  medium: { width: 354, height: 164 },
  small: { width: 208, height: 100 },
};

const spSizeMap: Record<string, { width: number; height: number }> = {
  large: { width: 342, height: 160 },
  medium: { width: 262, height: 64 },
  small: { width: 163, height: 64 },
};

const columnCountMap: Record<string, number> = {
  gold: 2,
  silver: 3,
  bronze: 5,
  "drink/lunch": 2,
  tool: 1,
};

const { width, height } = sizeMap[imageSize];
const { width: spWidth, height: spHeight } = spSizeMap[imageSize];
const columnCount = columnCountMap[sponsorType];

if (sponsors.length === 0) {
  return null;
}
---

<div class="sponsor-section">
  <h4 class="text-h4">
    <slot />
  </h4>
  <ul data-size={imageSize} data-type={sponsorType}>
    {
      sponsors.map((sponsor) => (
        <li data-dialog={sponsor.dialog ? "true" : "false"}>
          <Image
            src={sponsor.imageSrc}
            alt={sponsor.name}
            title={sponsor.name}
            loading="lazy"
            priority
            onclick={
              sponsor.dialog
                ? `document.getElementById('${sponsor.dialog.openId}')?.showModal()`
                : null
            }
          />
          {sponsor.dialog && (
            <>
              <Dialog
                openId={sponsor.dialog.openId}
                sponsorSectionTitle={dialogSectionTitle ?? ""}
                sponsor={sponsor}
              />
            </>
          )}
        </li>
      ))
    }
  </ul>
</div>

<style define:vars={{ width, height, columnCount, spWidth, spHeight }}>
  .sponsor-section {
    text-align: center;
    width: 100%;
  }

  ul {
    display: grid;
    list-style: none;
    text-align: center;
    padding: 0;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

  ul {
    grid-template-columns: repeat(var(--columnCount), auto);
  }

  ul[data-size="large"] {
    gap: 40px;
  }

  ul[data-type="drink/lunch"] {
    padding: 0 118px;
  }

  ul[data-type="tool"] {
    padding: 0 182px;
  }

  li {
    max-width: 100%;
  }

  li[data-dialog="true"] {
    cursor: pointer;
    transition: opacity 0.15s ease;
  }

  li[data-dialog="true"]:hover {
    opacity: 0.7;
  }

  li > img {
    width: 100%;
    height: auto;
    aspect-ratio: var(--width) / var(--height);
    max-width: calc(1px * var(--width));
    object-fit: contain;
  }

  @media screen and (max-width: 768px) {
    ul {
      gap: 24px;
      grid-template-columns: repeat(1, auto);
    }

    li > img {
      aspect-ratio: var(--spWidth) / var(--spHeight);
      max-width: calc(1px * var(--spWidth));
    }

    ul[data-size="small"] {
      grid-template-columns: repeat(2, auto);
      column-gap: 16px;
      row-gap: 8px;
    }

    ul[data-type="silver"],
    ul[data-type="drink/lunch"] {
      padding: 0 40px;
    }

    ul[data-type="tool"] {
      padding: 0;
    }
  }
</style>
