---
import { Image } from "astro:assets";
import type { Sponsor } from "../sponsors";
import Dialog from "./Dialog.astro";

interface Props {
  size: "learge" | "medium" | "small";
  sponsors: Sponsor[];
  dialogSectionTitle?: string;
}

const { size, sponsors, dialogSectionTitle } = Astro.props;

const sizeMap = {
  learge: { width: 532, height: 280 },
  medium: { width: 354, height: 164 },
  small: { width: 208, height: 100 },
};

const { width, height } = sizeMap[size];

if (sponsors.length === 0) {
  return null;
}
---

<div class="sponsor-section">
  <h4 class="text-h4">
    <slot />
  </h4>
  <ul data-size={size}>
    {
      sponsors.map((sponsor) => (
        <li>
          <Image
            src={sponsor.imageSrc}
            alt={sponsor.name}
            width={width}
            height={height}
            loading="lazy"
            priority
            style={sponsor.dialog ? "cursor:pointer" : null}
            onclick={
              sponsor.dialog
                ? `document.getElementById('${sponsor.dialog.openId}')?.showModal()`
                : null
            }
          />
          {sponsor.dialog ? (
            <>
              <Dialog
                openId={sponsor.dialog.openId}
                sponsorSectionTitle={dialogSectionTitle ?? ""}
                sponsor={sponsor}
              />
            </>
          ) : null}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .sponsor-section {
    text-align: center;
  }

  ul {
    display: grid;
    list-style: none;
    text-align: center;
    padding: 0;
    gap: 20px;
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
  }

  ul[data-size="learge"] {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
  }

  ul[data-size="medium"] {
    grid-template-columns: repeat(3, auto);
  }

  ul[data-size="small"] {
    grid-template-columns: repeat(5, auto);
  }

  li {
    max-width: 100%;
  }

  @media screen and (max-width: 1150px) {
    ul[data-size="learge"] {
      grid-template-columns: repeat(1, auto);
    }

    ul[data-size="medium"] {
      grid-template-columns: repeat(2, auto);
    }

    ul[data-size="small"] {
      grid-template-columns: repeat(4, auto);
    }
  }

  @media screen and (max-width: 920px) {
    ul[data-size="small"] {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media screen and (max-width: 768px) {
    ul {
      gap: 24px;
    }

    ul[data-size="learge"] {
      grid-template-columns: repeat(1, auto);
      gap: 24px;
    }

    ul[data-size="learge"] img {
      width: 342px;
      height: 160px;
    }

    ul[data-size="medium"] {
      grid-template-columns: repeat(1, auto);
    }

    ul[data-size="medium"] img {
      width: 262px;
      height: 64px;
    }

    ul[data-size="small"] {
      grid-template-columns: repeat(2, auto);
      column-gap: 16px;
      row-gap: 8px;
    }

    ul[data-size="small"] li {
      width: 163px;
    }

    ul[data-size="small"] img {
      width: 163px;
      height: 64px;
    }
  }
</style>
