---
import SectionTitle from "../ui/SectionTitle.astro";
import SponsorList from "./sponsor/SponsorList.astro";
import GopherList from "./sponsor/GopherList.astro";
import {
  goldSponsors,
  silverSponsors,
  drinkSponsors,
  lunchSponsors,
  bronzeSponsors,
  gopherSponsors,
  toolSponsors,
} from "./sponsors";

const currentLocale = Astro.currentLocale || "ja";

if (
  goldSponsors.length === 0 &&
  silverSponsors.length === 0 &&
  drinkSponsors.length === 0 &&
  lunchSponsors.length === 0 &&
  bronzeSponsors.length === 0 &&
  gopherSponsors.length === 0 &&
  toolSponsors.length === 0
) {
  return null;
}
---

<section id="sponsors">
  <SectionTitle>
    {
      currentLocale === "en" ? (
        <span class="section-title">
          <span style="color: var(--text-accent);">S</span>ponsors
        </span>
      ) : (
        <span class="section-title">
          <span style="color: var(--text-accent);">ス</span>ポンサー
        </span>
      )
    }
  </SectionTitle>

  <div class="content">
    <SponsorList
      sponsorType="silver"
      sponsors={silverSponsors}
      dialogSectionTitle="シルバースポンサー">シルバー</SponsorList
    >
    <SponsorList
      sponsorType="drink/lunch"
      sponsors={drinkSponsors}
      dialogSectionTitle="ドリンクスポンサー">ドリンク</SponsorList
    >
    <SponsorList
      sponsorType="drink/lunch"
      sponsors={lunchSponsors}
      dialogSectionTitle="ランチスポンサー">ランチ</SponsorList
    >
    <SponsorList sponsorType="bronze" sponsors={bronzeSponsors}
      >ブロンズ</SponsorList
    >
    <GopherList sponsors={gopherSponsors}>Gopher</GopherList>
    <SponsorList sponsorType="tool" sponsors={toolSponsors}
      >ツールスポンサー</SponsorList
    >
  </div>
  <SponsorList
    sponsorType="gold"
    sponsors={goldSponsors}
    dialogSectionTitle={currentLocale === "ja"
      ? "Goルドスポンサー"
      : "Gold Sponsor"}
  >
    {
      currentLocale === "ja" ? (
        <>
          <span style="color: var(--text-accent);">Go</span>ルド
        </>
      ) : (
        <>
          <span style="color: var(--text-accent);">Go</span>ld
        </>
      )
    }
  </SponsorList>
  <SponsorList
    sponsorType="silver"
    sponsors={silverSponsors}
    dialogSectionTitle={currentLocale === "ja"
      ? "シルバースポンサー"
      : "Silver Sponsor"}
  >
    {currentLocale === "ja" ? "シルバー" : "Silver"}
  </SponsorList>
  <SponsorList
    sponsorType="drink/lunch"
    sponsors={drinkSponsors}
    dialogSectionTitle={currentLocale === "ja"
      ? "ドリンクスポンサー"
      : "Drink Sponsor"}
  >
    {currentLocale === "ja" ? "ドリンク" : "Drink"}
  </SponsorList>
  <SponsorList
    sponsorType="drink/lunch"
    sponsors={lunchSponsors}
    dialogSectionTitle={currentLocale === "ja"
      ? "ランチスポンサー"
      : "Lunch Sponsor"}
  >
    {currentLocale === "ja" ? "ランチ" : "Lunch"}
  </SponsorList>
  <SponsorList sponsorType="bronze" sponsors={bronzeSponsors}>
    {currentLocale === "ja" ? "ブロンズ" : "Bronze"}
  </SponsorList>
  <GopherList sponsors={gopherSponsors}>Gopher</GopherList>
  <SponsorList sponsorType="tool" sponsors={toolSponsors}>
    {currentLocale === "ja" ? "ツールスポンサー" : "Tool Sponsor"}
  </SponsorList>
</section>

<style>
  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-l) var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    align-items: center;
    box-sizing: border-box;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    width: 100%;
  }

  .section-title {
    word-break: keep-all;
    overflow-wrap: anywhere;
    text-align: center;
  }

  .sponsor-section {
    text-align: center;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    section {
      padding: var(--space-m) var(--space-s);
    }

    .content {
      max-width: 450px;
    }
  }
</style>
