---
import GlobalStyles from "../components/GlobalStyles.astro";
import { constants } from "../constants";
import { withBaseURL } from "../utils/url";
import Footer from "../components/Footer.astro";
import FooterVisual from "../assets/footer_visual.png";
import Header from "../components/Header.astro";

const currentLocale = Astro.currentLocale;

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  ogType?: "website" | "article";
  twitterCard?: "summary" | "summary_large_image";
}

const {
  title = constants.pageTitle,
  description: descriptionProp,
  ogImage,
  ogType = "website",
  twitterCard = "summary",
} = Astro.props as Props;

let description = descriptionProp ?? constants.pageDescription;

if (!descriptionProp && currentLocale === "en") {
  description = constants.PageDescriptionEn;
}

const defaultOgImage = withBaseURL("og_image_lg.jpg");
const defaultTwitterImage = withBaseURL("og_image_md.jpg");
const ogImagePath = ogImage ? withBaseURL(ogImage) : defaultOgImage;
const twitterImagePath = ogImage ? withBaseURL(ogImage) : defaultTwitterImage;
const ogImageUrl = new URL(ogImagePath, Astro.site ?? Astro.url);
const twitterImageUrl = new URL(twitterImagePath, Astro.site ?? Astro.url);
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={withBaseURL("favicon.jpg")} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <GlobalStyles />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- OGP の記載 -->
    <meta property="og:site_name" content={constants.pageTitle} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />

    <meta property="twitter:card" content={twitterCard} />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={twitterImageUrl} />
  </head>
  <body>
    <Header />
    <div class="main-content">
      <slot />
    </div>
    <img src={FooterVisual.src} alt="" class="footer-visual" />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .footer-visual {
    display: block;
    width: 100%;
    max-height: 500px;
    min-height: 81px;
    object-fit: cover;
    object-position: 50% 28%;
  }

  .main-content {
    padding-top: 81px;
  }

  @media screen and (max-width: 768px) {
    .main-content {
      padding-top: 56px;
    }
  }
</style>
