---
import type { ProgramSponsorSession } from "../program";
import DifficultyBadge from "./DifficultyBadge.astro";

type Props = {
  program: Extract<ProgramSponsorSession, { type: "sponsorSession" }>;
};

const { program } = Astro.props as Props;
---

<div class="card">
  <div class="metadata-container text-body-medium-strong">
    <div class="time-container">
      <span>{program.timeString}</span>
    </div>
    <div class="sponsored-session-badge">
      <span class="text-body-small">Sponsored Session</span>
    </div>
    <DifficultyBadge difficulty={program.difficulty} />
  </div>
  <a
    class="title-container text-body-large-strong"
    href={`/timetable/${program.id}`}
    class="text-body-large-strong"
  >
    <span>{program.title}</span>
  </a>
  <div class="footer-container">
    <div class="speaker-container">
      <img class="icon" src={program.speaker.avatar} />
      <span class="text-body-small-strong">{program.speaker.name}</span>
    </div>
    <span class="text-body-small">ランチ・ドリンクセッション(15min)</span>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxs);
    padding: var(--space-xs) var(--space-s);
    border-radius: var(--radius-objects);
    background-color: var(--surface-session-light);
    min-height: 150px;
    box-sizing: border-box;
  }

  .card .metadata-container {
    display: flex;
    align-items: center;
    gap: var(--space-xxxs);
  }

  .card .metadata-container .time-container {
    flex: 1;
  }

  .card .title-container {
    color: var(--text-primary);
    transition: color 0.1s ease-in-out;
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 56px;
  }

  .card .title-container:hover {
    color: var(--text-accent);
  }

  .card .title-container .text-wrapper {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: fit-content;
  }

  .card .title-container span {
    margin: auto 0;
    height: fit-content;
  }

  .card .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card .footer-container .speaker-container {
    display: flex;
    gap: var(--space-xxxs);
  }

  .card .footer-container .speaker-container .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }

  .card .sponsored-session-badge {
    background-color: var(--text-secondary);
    padding: 0 var(--space-xs);
    color: var(--text-on-fill);
    border-radius: var(--radius-objects);
    height: fit-content;
    display: flex;
  }

  .card .sponsored-session-badge span {
    margin-top: -2px;
  }
</style>
